<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get CRUD</title>
  </head>
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04aa6d;
      color: white;
    }
  </style>
  <body>
    <h1>Table list users</h1>

    <table id="customers">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>

      <% data.forEach(function(user, index){ %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.address %></td>
        <td>
          <a href="/edit-user/<%= user.id %> ">Edit</a>
          <a href="/delete-user/<%= user.id %> ">Delete</a>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
